
 body{  margin-left: 6px;
}
.ui stackable celled grid container{

}

    .carouselExampleIndicators{

    }
}
.no-container {
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-end;}


body{
font-family: "Helvetica Neue", Arial, sans-serif ;
font-size:14px;
letter-spacing:1px;
line-height:21px;
margin-bottom:0px;
margin-left:0px;
margin-right:0px;
margin-top:0px;
text-size-adjust:100%;
}
body {
  padding: 0;
  margin: 0;
  
/*--- navigation bar ---*/


}



.nav-link,
.navbar-brand {
  color: rgba(0, 0, 0, 0.914);
 
}

.nav-link {
  margin-right: 1em ;
}

.nav-link:hover {
  color: #000;
}



  img {
    object-fit: cover;
    display: grid;
    height: 100%;
    width: 100%;
    z-index: -1;
  }

    h1 {
      font-size: 3rem;
      font-weight: 500;
      margin: 0 0 1rem;
    }

    p {
      font-size: 1.75rem;
 


* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: "Baloo 2", sans-serif;
}
.features .form-control,
.features input {
    border-radius: 0;
}

.form-group {
  background-color: rgba(40, 12, 31, 0.934)(52, 45, 45)
  border: 1px solid black;
  margin-top: 20px;
}

.features .btn:hover {
  background-color: #333;
  border: 1px solid #333;
}
.FormControlTextarea1{
    font-size: 1,84rem;
    clip-rule: #fafafa
}